doctype html
html
  head
    title Buabub Mark II
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    meta(name="viewport",content="width=device-width, initial-scale=1")
  body
    block content
